body {
    background-color: black;
}
#green {
    height: 250px; 
    width: 250px;
    background-color: green;
    margin-top: 1%;
    margin-left: auto;
    margin-right: auto;
}
#yellow {
    height: 250px;
    width: 250px;
    background-color: yellow;
     margin-top: 0.5%;
    margin-left: auto;
    margin-right: auto;
}
#red {
    height: 250px;
    width: 250px;
    background-color: red;
    margin-top: 0.5%;
    margin-left: auto;
    margin-right: auto;

}


