div{
    display: inline-block;
}

#title {
    font-weight: bold;
    font-style: italic;
    margin-left: auto;
    text-align: center;
}
#p1 {
    height: 800px;
    width: 200px;
    font-style: italic;
    background-color: grey;
    margin-left: auto;
    margin-top: auto;
}

#p2 {
    height: 700px;
    width: 700px;
    font-style: italic;
    background-color:grey;
    margin-left: auto;
   margin-top: auto;
}
#p3 {
    height: 800px;
    width: 200px;
    font-style: italic;
    background-color: grey;
    margin-left: auto;
    margin-top: auto;
}


#p1, #p2, #p3 {
    margin-top: auto;
}